*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainNav{
    background-color: rgb(32, 31, 31);
    text-align: center;
     padding: 30px;
    border: 3px solid gray;
    background-position: center;
    background-size: cover;

}
.mainImage{
    background-color: rgb(94, 93, 95);
    padding: 30px; 
    border: 3px solid gray;
    background-position: center;
    background-image:url("https://static.wixstatic.com/media/1afa76_3fd09eba7293479480c0197b190a33ba~mv2_d_4338_2440_s_4_2.jpg/v1/fill/w_1349,h_650,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1afa76_3fd09eba7293479480c0197b190a33ba~mv2_d_4338_2440_s_4_2.jpg");
    background-repeat: inherit;
    background-attachment: fixed;
    text-align: center;
    font-weight: bold;
    height: 400px;
    text-shadow: 7px 7px 7px white;
}
.chef1{
    border: 6px solid gray;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 50px;
            float: left;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjfbDNKj07qLnLzkY1bfiDtux_kixDkTfy6g&usqp=CAU);
            background-position: center;
        
     }
     .chef2{
        border: 6px solid gray;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        text-align: center;
        margin: 50px;
        float: left;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0dXPbafzpICTwUyZ1GdD-tUbfbIumnX5GayjzxfvrQ2BlKHMikG_a6z8IC4OXfAOC2eo&usqp=CAU);
        background-position: center;
         }
         .chef3{
            border: 6px solid gray;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            text-align: center;
            margin: 50px;
            float: left;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjfbDNKj07qLnLzkY1bfiDtux_kixDkTfy6g&usqp=CAU);
            background-position: center;
             }
     .footer{
        float: left;
     }
    
table,th,td{
    border: 1px solid;
    margin: 10px auto;
    padding: 10px;
  
    background-image:url("https://static.wixstatic.com/media/1afa76_3fd09eba7293479480c0197b190a33ba~mv2_d_4338_2440_s_4_2.jpg/v1/fill/w_1349,h_650,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1afa76_3fd09eba7293479480c0197b190a33ba~mv2_d_4338_2440_s_4_2.jpg");
   
    font-weight: bold;

    
}
.Turkey{
    border: 6px solid gray;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            border: 1px solid;
            margin: 10px auto;
            padding: 10px;
            /* text-align: center; */
            /* margin: 10px 0px 0px 360px; */
            /* float: left; */
            /* background-position: center; */
            background-image: url(https://miro.medium.com/max/700/1*87eRTdKQc9oytQd62KE6hQ.jpeg);
    
     }
     .Norway{
        border: 6px solid gray;
        border-radius: 100%;
        width: 200px;
        height: 200px;
        border: 1px solid;
    margin: 10px auto;
    padding: 10px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ-ehZCeT09IDUgRWev31NmUwtCTMR-voxXQ&usqp=CAU);
    
         }
         .Dubai{
            border: 6px solid gray;
            border-radius: 100%;
            width: 200px;
            height: 200px;
            border: 1px solid;
            margin: 10px auto;
            padding: 10px;
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYzCFYxKGQvYzeR-mpM0K93aPrzzfw4RMpdw&usqp=CAU);
            
             }
                  form input {
                    width: 200px;
                    padding: 4px;
                    
                
                  }
                  label{
                    display: inline-block;
                    width: 100px;
                    padding: 20px;
                    
                    
                  }
                  .submit{
               padding: 5px;
               margin-left: 160px;
               width: 70px;
               height: 30px;
               font-size: medium;
               }
               
           
                     
                 